# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore data & models
data/test/
data/train/
*.pt
*.pth

# Ignore mlruns
mlruns/

# Ignore environment
.env/
venv/
*.egg-info/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Logs, reports
logs/
reports/figures/
*.log

# System files
.DS_Store
